<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <mat-nav-list>
      <ng-container *ngFor="let route of routes; trackBy:trackByFn">
      <a mat-list-item [href]="route.path">{{route.title}}</a>
    </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        aria-label="Toggle sidenav"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Meu Aplicativo</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet/>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
